@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$base-font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', arial, sans-serif;

h1, h2, h3, h4, h5, h6, p, a {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
