<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if home}}
        Node-CMS
      {{else}}
        Node-CMS | {{title}}
      {{/if}}
    </title>
    <link rel="shortcut icon" href="/images/node-favicon.ico">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
