<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if home}}
        Node-CMS
      {{else}}
        Node-CMS | {{title}}
      {{/if}}
    </title>
    <link rel="shortcut icon" href="/images/node-favicon.ico">
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>

    {{!-- Navbar Partial --}}
    {{>navbar user=user}}

    {{!-- If there is an error --}}
    {{#if error}}
      {{>error-collapse error=error}}
    {{/if}}
    {{#if success}}
      {{>success-collapse success=success}}
    {{/if}}
    {{!-- /Error Partial --}}

    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
